
* {
 box-sizing: border-box;
margin: 0 ;
padding: 0 ;}

body > header{
    background-color: gray;
    padding: 16px 0;
    color: aliceblue;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: aliceblue;
    text-decoration: none;
    
}

.conteiner {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative ;
    
    
}

.articles article img {
    height: 180px;
    width: 100%;
}

.articles article {
    width: 30%;
    
}



section{
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3
{ margin-top: 8px;
    margin-bottom: 8px;
    
}
.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a :hover{
    text-decoration: underline;
    
}

.articles article p , .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

.section h2 {
    font-size: 32px ;
}

#esportes {
    background-color: rgba(0, 255, 0, 0.1);
}

#esportes .articles article a {
    background-color: rgba(0, 255, 0, 0.8)
}

#economia {
    background-color: yellow;
}

#economia .articles article a {
    background-color: orange;
}

#Politica {
    background-color: blueviolet;
}

#Politica .articles article a {
    background-color: purple;
}

#Educacao {
    background-color: blue;
}

#Educacao .articles article a {
    background-color: grey;
}
